USE [master]
GO
/****** Object:  Database [RentCar]    Script Date: 13/10/2022 12:23:49 p. m. ******/
CREATE DATABASE [RentCar]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RentCar', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\RentCar.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RentCar_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\RentCar_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RentCar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RentCar]
GO
/****** Object:  Table [dbo].[Alquileres]    Script Date: 13/10/2022 12:23:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alquileres](
	[vehiculo] [nchar](10) NULL,
	[cliente] [nchar](10) NULL,
	[kmInicial] [numeric](18, 0) NULL,
	[kmFinal] [numeric](18, 0) NULL,
	[ValorKM] [numeric](18, 0) NULL,
	[Fecha] [nchar](10) NULL,
	[Estado] [nchar](10) NULL,
	[Descuento] [bit] NULL,
	[id] [nchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 13/10/2022 12:23:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IdCliente] [nchar](10) NOT NULL,
	[Nombres] [nchar](50) NULL,
	[TipoCliente] [nchar](10) NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculos]    Script Date: 13/10/2022 12:23:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculos](
	[Placa] [nchar](10) NOT NULL,
	[Marca] [nchar](10) NULL,
	[KilometrajeActual] [int] NULL,
 CONSTRAINT [PK_Vehiculos] PRIMARY KEY CLUSTERED 
(
	[Placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Alquileres] ([vehiculo], [cliente], [kmInicial], [kmFinal], [ValorKM], [Fecha], [Estado], [Descuento], [id]) VALUES (N'0dV-290   ', N'10536     ', CAST(65302 AS Numeric(18, 0)), CAST(66220 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)), N'1-7-2022  ', N'inactivo  ', 0, N'105360dV-2901-7-202265302                         ')
INSERT [dbo].[Alquileres] ([vehiculo], [cliente], [kmInicial], [kmFinal], [ValorKM], [Fecha], [Estado], [Descuento], [id]) VALUES (N'016-783   ', N'11354     ', CAST(43897 AS Numeric(18, 0)), CAST(66220 AS Numeric(18, 0)), CAST(1000 AS Numeric(18, 0)), N'1-7-2022  ', N'inactivo  ', 0, N'11354016-7831-7-202243897                         ')
INSERT [dbo].[Alquileres] ([vehiculo], [cliente], [kmInicial], [kmFinal], [ValorKM], [Fecha], [Estado], [Descuento], [id]) VALUES (N'00k-420   ', N'11286     ', CAST(27127 AS Numeric(18, 0)), CAST(30000 AS Numeric(18, 0)), CAST(1000 AS Numeric(18, 0)), N'1-7-2022  ', N'inactivo  ', 0, N'1128600k-4201-7-202227127                         ')
GO
INSERT [dbo].[Clientes] ([IdCliente], [Nombres], [TipoCliente]) VALUES (N'10536     ', N'pedro                                             ', N'Contrato  ')
INSERT [dbo].[Clientes] ([IdCliente], [Nombres], [TipoCliente]) VALUES (N'11286     ', N'Steward Jobey                                     ', N'Contrato  ')
INSERT [dbo].[Clientes] ([IdCliente], [Nombres], [TipoCliente]) VALUES (N'11354     ', N'Chrissy Keyhoe                                    ', N'Ocasional ')
GO
INSERT [dbo].[Vehiculos] ([Placa], [Marca], [KilometrajeActual]) VALUES (N'00k-420   ', N'Volkswagen', 27127)
INSERT [dbo].[Vehiculos] ([Placa], [Marca], [KilometrajeActual]) VALUES (N'016-783   ', N'Pontiac   ', 43897)
INSERT [dbo].[Vehiculos] ([Placa], [Marca], [KilometrajeActual]) VALUES (N'0dV-290   ', N'Kia       ', 65302)
GO
USE [master]
GO
